html {
}

body {
	background: #f0ea2e url(../images/bg-gradient_02.jpg) repeat-x;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	width: 990px;
	background: url(../images/bg-container_07.png) repeat-y;
	min-height: 768px;
}

div#content {
	padding-left: 20px;
	padding-right: 15px;
	background: none repeat-y;
}

div#content p.invitation {
	text-align: center;
	color: yellow;
	padding: 5px;
	font-size: 1.2em;
	background: transparent url(../images/bg-userinvitation.png) no-repeat center;
	width: 675px;
	height: 60px;
}

div#maincontent {
	background: url(../images/bg-container_07.png) repeat-y;
}

div#header {
	background: url(../images/header_05.png) no-repeat center top;
	height: 150px;
	width: 990px;
}

div.vehicle_description div#overview {
	height: 370px;
}

div.vehicle_description div#overview p.img_overview {
	float: left;
}

div.vehicle_description div#overview p.img_overview img {
	border: 2px solid silver;
}

div#overview div.infos p {
	margin-bottom: 2em;
	font-weight: bold;
}

div#overview span.modele {
	color: #f04d1b;
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.3em;
}

div#overview span.prix {
	color: #f04d1b;
	font-size: 1.3em;
}

div#overview span.km {
	color: #39485e;
	font-size: 1.2em;
}

div.listitem p.vehicle_index_image img {
	float: left;
}

div.listitem p.vehicle_index_image {
}

div.listitem p.links {
	margin-top: 2em;
	padding-top: 1em;
}

div.subcontainer {
	width: 990px;
	height: 25px;
	background: url(../images/bottom-container_09.png) no-repeat;
}

ul.menubar {
	margin-left: 420px;
}

ul.menubar li {
	float: left;
	margin-right: 25px;
}

a.bigLink {
	font-size: 1.3em;
	color: #d3e3d0;
}

h4 {
	margin-bottom: 2em;
}