html {
}

body {
	background: url(../images/bg-gradient_02.jpg) repeat-x;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	width: 990px;
	background: url(../images/bg-container_07.png) repeat-y;
}

div#content {
	padding-left: 20px;
	padding-right: 15px;
	background: none repeat-y;
}

div#content p.invitation {
	background-color: #1d7132;
	text-align: center;
	color: yellow;
	padding: 5px;
	font-size: 1.2em;
}

div#maincontent {
	background: url(../images/bg-container_07.png) repeat-y;
}

div#header {
	background: url(../images/header_05.png) no-repeat center top;
	height: 150px;
	width: 990px;
}

div.subcontainer {
	width: 990px;
	height: 25px;
	background: url(../images/bottom-container_09.png) no-repeat;
}

ul.menubar {
	margin-left: 420px;
}

ul.menubar li {
	float: left;
	margin-right: 25px;
}

a.bigLink {
	font-size: 1.3em;
	color: #d3e3d0;
}