<div id="content" class="span-17 colborder">

	<% form_for :vehicle, @vehicle, :url => provider_vehicle_path(current_provider, @vehicle), :html => {:method => :put, :multipart => true} do |f| -%>
		<%= f.error_messages %>
	  <table>
			
			<%= render :partial => 'form', :locals => {:f => f} %>
			
			<tr>
				<td colspan="2"><%= f.submit "Modifier" %></td>
			</tr>
	  </table>
	<% end -%>
	
	<p><%= link_to "Retour", provider_vehicles_path(current_provider) %></p>
</div>